div.father{
    width: 80%;
    height: 300px;
    background-color: rgba(221,255,121,1);
    border:solid 1px rgba(171,200,71,1);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.father p{
    font-size: 17px;
    font-family: sans-serif;
}